/* work sans font  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */
* {
    font-family: 'Work Sans', sans-serif;
}

/* 22 */
.text-light-gray {
    color: #727272;
}

/* 12 */
.btn-primary {
    cursor: pointer;

    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;

    border-radius: 8px;
    background: #FF900E;
    border-style: none;
    padding: 20px 24px;

}

/* 28 */
.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}


/* header styles */
header {
    /* 1. */
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 250px;
}

/* 2 */
nav {
    display: flex;
    justify-content: space-between;
    /* 7 */
    align-items: center;
}

/* 6 */
/* 28 = as this nav style has one more code, so it is better to put same style for same type of section */

/* 3 */
nav>ul {
    display: flex;
}

/* 4 */
nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

/* 5 */
nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner styles */
/* 9 */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

/* 10 */
.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

/* 11 */
/* .banner-description {
    color: #727272;
} */
/* 21 = change the .banner-description to .text-light-gray as a shared style */

/* 13 */
.banner img {
    margin-top: 20px;
    width: 100%;
}


/* main styles */
/* 16 */
main {
    max-width: 1440px;
    /* 27 = adding margin top and bottom 70px */
    margin: 70px auto;
}

/* teams styles */
/* 19 */
.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding: 0 70px;
}

/* 20 */
.teams-content span {
    font-size: 2.8rem;
}

.teams-content .quick-list {
    font-weight: 500;
}

.text-features {
    color: #FF900E;
}


/* responsive media query */
/* 14 */
/* mobile devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    /* 23 = .teams-container adding for using the same style such as "flex-direction: column" like nav for doing responsive in small devices*/
    nav,
    .teams-container {
        flex-direction: column;

    }

    /* 24 */
    .teams-img-container {
        grid-template-columns: 1fr;
        ;
    }

    /* 26 */
    .teams-content {
        padding: 0 20px;
    }
}

/* tablet or medium devices */
@media screen and (min-width: 575px) and (max-width: 960px) {
    header {
        padding: 50px;
    }

    /* 25 = .teams-container class applying same style like nav */
    nav,
    .teams-container {
        flex-direction: column;
    }
}